---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    id: 1,
    title: "iTechedThat",
    link: "https://www.itechedthat.com/",
    github: "https://github.com/donovangomez/fighting-game-resources",
    imgSrc: "/assets/itechedthat.webp",
    stack: "NextJS / TailwindCSS / Supabase / Next Auth",
  },
  {
    id: 2,
    title: "Adventurer Handbook",
    link: "https://adventurerhandbook-alpha.netlify.app/",
    imgSrc: "/assets/genshin-handbook.webp",
    github: "https://github.com/donovangomez/fighting-game-resources",
    stack: "NextJS / Chakra UI / Supabase",
  },
  {
    id: 3,
    title: "Saliou Mboup",
    link: "https://salioumboup.com/",
    imgSrc: "/assets/sal.webp",
    github: "https://github.com/donovangomez/fighting-game-resources",
    stack: "HTML / SCSS",
  },
];
---

<Layout>
  <main class="bg-zinc-900 w-full mx-auto min-h-screen relative z-10">
    <h1
      class="text-center text-6xl py-24 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
    >
      Projects
    </h1>
    <div class="min-h-screen w-5/6 mx-auto">
      <div class="flex flex-wrap justify-center gap-4">
        {
          projects.map((project) => (
            <ProjectCard
              title={project.title}
              link={project.link}
              stack={project.stack}
              github={project.github}
              imgSrc={project.imgSrc}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
