---
const { title, link, github, imgSrc, stack } = Astro.props;
---

<div
<<<<<<< HEAD
  class="border-2 border-red-600 bg-white rounded-lg flex flex-col max-w-sm xl:bg-red-400 xl:max-w-2xl xl:grid xl:grid-cols-6 xl:justify-center xl:items-center"
=======
  class="text-stone-100 bg-zinc-800 rounded-lg xl:grid xl:grid-cols-6 xl:justify-center xl:items-center"
>>>>>>> 563f253fb72b67a337081f986be04076c2dd4bf9
>
  <div class="xl:col-span-4">
    <img src={imgSrc} class="w-full" />
  </div>
  <div class="flex flex-col xl:col-span-2 gap-2 p-4">
    <h2 class="text-4xl text-stone-300">{title}</h2>
    <p class="text-2xl text-stone-300">{stack}</p>
    <div>
      <a
        href={github}
        class="inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Repo
      </a>
      <a
        href={link}
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Live
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Details
      </a>
    </div>
  </div>
</div>
