---
const { title, link, github, imgSrc, stack, description, slug, url } =
  Astro.props;
---

<div
  class="shadow-xl relative bg-zinc-800 rounded-md group flex flex-col max-w-sm selection:bg-purple-600 xl:bg-zinc-800 xl:max-w-5xl xl:grid xl:grid-cols-6 xl:justify-center xl:items-center"
>
  <div
    class="absolute -inset-0.5 hover:bg-gradient-to-r from-pink-600 to bg-violet-600 rounded-lg blur opacity-0 group-hover:opacity-100 transition duration-200"
  >
  </div>
  <div class="relative xl:col-span-4">
    <img src={imgSrc} class="w-full" />
  </div>
  <div
    class="flex relative h-full justify-center bg-zinc-800 flex-col xl:col-span-2 gap-2 p-4"
  >
    <h2 class="text-4xl text-stone-300">{title}</h2>
    <div class="flex gap-2">
      {stack.map((s) => (
        <img width={32} src={s.logo} alt={s.name} />
      ))}
    </div>
    <p class="text-xl text-stone-300">{description}</p>
    <div class="flex gap-3">
      <a
        href={github}
        rel="noreferrer"
        target="_blank"
        class="bg-purple-600 text-white hover:bg-purple-800 focus:ring-purple-600 focus:ring-opacity-50 active:bg-purple-600 inline-block px-5 py-3 rounded-md focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
      <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-github"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
      ></path>
    </svg>
      </a>
      <a
        href={link}
        rel="noreferrer"
        target="_blank"
        class="bg-purple-600 text-white hover:bg-purple-800 focus:ring-purple-600 focus:ring-opacity-50 active:bg-purple-600 inline-block px-5 py-3 rounded-md focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Live
      </a>
      <a
        href={url}
        class="bg-purple-600 text-white hover:bg-purple-800 focus:ring-purple-600 focus:ring-opacity-50 active:bg-purple-600 inline-block px-5 py-3 rounded-md focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Details
      </a>
    </div>
  </div>
</div>
