---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const allProjects = await getCollection("projects");

const sortedProjects = allProjects.sort(
  (a, b) => Number(b.data.datePublished) - Number(a.data.datePublished)
);
---

<Layout>
  <section class="min-h-screen py-16">
    <h1
      class="text-center text-6xl py-24 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
    >
      Projects
    </h1>
    <div class="flex flex-wrap justify-center gap-4">
      {
        sortedProjects.map((project) => (
          <ProjectCard
            title={project.data.title}
            link={project.data.link}
            stack={project.data.stack}
            github={project.data.github}
            imgSrc={project.data.imgSrc}
            description={project.data.description}
            url={`/projects/${project.slug}`}
          />
        ))
      }
    </div>
  </section>
</Layout>
